<div class="row justify-content-lg-center g-3">
    <h1><%= title %> contactL Item</h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">FullName</span>
            <input type="text" class="form-control" placeholder="Enter Full Name" aria-label="contactL Name" aria-describedby="contactL Name"
            name="FullName" value="<%= contactL.FullName %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Email Address</span>
            <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="contactL Brand" aria-describedby="contactL Brand"
            name="EmailAddress" value="<%= contactL.EmailAddress %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Contact Number</span>
            <input type="text" class="form-control" placeholder="Enter Contact Number" aria-label="contactL Category" aria-describedby="contactL Category"
            name="ContactNumber" value="<%= contactL.ContactNumber %>" required>
        </div>

        
            
        
            <% if(title == "Edit") { %>
                <button type="submit" id="editButton" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
            <% } else { %>
                <button type="submit" id="addButton" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
            <% } %>  
            
            <a href="/contact-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </form>
</div>